{{!-- Partial for the navigation menu for the home page, login page and signup page --}}
<nav class="ui menu">
  <header class="ui header item"> <a href="/"> Gym App </a></header>
  <div class="right menu">
    {{!-- Link to the about page --}}
    <a id="about" class="item" href="/about"> About </a>
    {{!-- link to the sign up page --}}
    <a id="signup" class="item" href="/signup"> Signup </a>
    {{!-- link to the login page --}}
    <a id="login" class="item" href="/login"> Login </a>
  </div>
</nav>
<script>
  $("#{{id}}").addClass("active item");
</script>