{{!-- Trainers dashboard shows the partial listmembers which shows a list of members and
the number of assessments a member has --}}
{{> trainermenu id="dashboard"}}
<section class="ui segment">
    {{> listmembers}}
</section>