/* Set the font size for the BMI value in the utility partial*/
.bmi {
    font-size: 3em;
}

/* Set the paragraph text*/
p {
    font-size: 1.2em;
}

#bg-green {
    background-color: greenyellow;
}

#current-goal-font {
    font-weight: bolder;
    font-size: 18px;
    color: green;
}